/* Leaflet CSS */

.leaflet-container {
    background-color: #1a3317 !important; /* Your dark green */
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: var(--background-front) !important;
  border: 1px solid var(--border);
}

.map {
  flex: 60;
  width: 100%;
  border-radius: calc(16px - 1em);
  z-index: 1;
}

/* TODO: Refactor... */

.toggle-btn {
  position: absolute;
  top: 10px;
  z-index: 20000;
  padding: 10px 15px;
  cursor: pointer;
  background-color: var(--background);
  color: var(--text);
  border: 2px var(--border);
  border-radius: 16px;
}

#toggleBtn-projects {
  right: 10px;
}

#toggleBtn-cities {
  top: 50px;
  right: 10px;
}

.risk {
  border-radius: 100%;
  font-weight: bold;
}

#toggleBtn-risk1 {
  background-color: hsl(0, 90%, 40%);
  left: 50px;
}

#toggleBtn-risk2 {
  background-color: hsl(60, 90%, 40%);
  left: 90px;
}

#toggleBtn-risk3 {
  background-color: hsl(120, 90%, 40%);
  left: 130px;
}

.toggle-btn:hover,
.toggle-btn.active:hover {
  background-color: var(--border);
}

.toggle-btn.active {
  background-color: var(--border);
}
