/* Leaflet CSS */

.leaflet-container {
    background-color: #1a3317 !important; /* Your dark green */
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: var(--background-front) !important;
  border: 1px solid var(--border);
}

.map {
  flex: 60;
  width: 100%;
  border-radius: calc(16px - 1em);
  z-index: 1;
}

/* TODO: Refactor... */

.toggleBtn {
  position: absolute;
  top: 10px;
  z-index: 20000;
  padding: 10px 15px;
  cursor: pointer;
  background-color: var(--background);
  color: var(--text);
  border: 2px var(--border);
  border-radius: 16px;
}

.toggleBtn-projects {
  right: 10px;
}

.toggleBtn-province {
  top: 50px;
  right: 10px;
}

.toggleBtn-reset {
  top: 90px;
  right: 10px;
}

.toggleBtn-sidebar {
  top: 130px;
  right: 10px;
}

.toggleBtn-risk {
  border-radius: 100%;
  font-weight: bold;
}

.toggleBtn-risk1.active {
  background-color: hsl(120, 90%, 40%);
}

.toggleBtn-risk2.active {
  background-color: hsl(60, 90%, 40%);
}

.toggleBtn-risk3.active {
  background-color: hsl(0, 90%, 40%);
}

.toggleBtn-risk0.active {
  background-color: hsl(0, 0%, 30%);
}

.toggleBtn-risk1 {
  left: 50px;
}

.toggleBtn-risk2 {
  left: 90px;
}

.toggleBtn-risk3 {
  left: 130px;
}

.toggleBtn-risk0 {
  left: 170px;
}

