<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>{% block title %}Flood Control Dashboard{% endblock %}</title>

    <!-- Read shape files -->
    <script defer src="https://unpkg.com/shpjs@latest/dist/shp.js"></script>

    <!-- Chart.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Leaflet -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      defer
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>

    <!-- Load from static directory -->
    <script
      defer
      src="{{ url_for('static', filename='js/script.js') }}"
      type="module"
    ></script>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

  </head>

  <body>
    <header>
      <h1>Flood Risk Infrastructure Alignment Dashboard</h1>
      <span>DATA101 MCO1 Group 1</span>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <!-- <footer>
      <span></span>
    </footer> -->
  </body>
</html>
