{% extends "base.html" %} {% block content %}

<section id="left-column" class="column">

  <div class="panel map-list-panel">

    <div id="map" class="map">
      <button class="toggleBtn toggleBtn-projects" data-type="projects">Browse Projects</button>
      <button class="toggleBtn toggleBtn-province" data-type="province">Browse Province</button>
      <button class="toggleBtn toggleBtn-reset" data-type="reset">Reset view</button>
      <button class="toggleBtn toggleBtn-risk toggleBtn-risk1 active" data-type="risk1">1</button>
      <button class="toggleBtn toggleBtn-risk toggleBtn-risk2 active" data-type="risk2">2</button>
      <button class="toggleBtn toggleBtn-risk toggleBtn-risk3 active" data-type="risk3">3</button>
      <button class="toggleBtn toggleBtn-risk toggleBtn-risk0 active" data-type="risk0">Unknown</button>
      <button class="toggleBtn toggleBtn-sidebar" data-type="sidebar">Show/hide sidebar</button>
    </div>
    <!--
    <div class="list-controls">
      <div class="search-bar">Search Bar</div>
      <div class="filter">Filter</div>
    </div>
    -->
    <div id="flood-control-projects" class="panel list-panel">
      <ol id="flood-control-projects-list"></ol>
    </div>
  </div>
</section>

<section id="sidebar" class="column">
  <!-- todo, better name ig like uhh projectNcity-stats :sob-->
  <div id="project-stats" class="panel">
    {% include 'project_stats.html' %}
  </div>

  <div id="province-stats" class="panel">
    {%include 'province_stats.html' %}
  </div>

  <div id="regional-stats" class="panel">
    {% include 'regional_stats.html' %}
  </div>
</section>

{% endblock %}
