{% extends "base.html" %} {% block content %}

<section id="left-column" class="column">
  <div class="panel map-list-panel">

    <div id="map" class="map">
      
      <div class="map-controls risk-controls">
        <button class="toggleBtn toggleBtn-risk toggleBtn-risk1 active" data-type="risk1">1</button>
        <button class="toggleBtn toggleBtn-risk toggleBtn-risk2 active" data-type="risk2">2</button>
        <button class="toggleBtn toggleBtn-risk toggleBtn-risk3 active" data-type="risk3">3</button>
        <button class="toggleBtn toggleBtn-risk toggleBtn-risk0 active" data-type="risk0">Unknown</button>
      </div>

      <div class="map-controls action-controls">
        <button class="toggleBtn material-symbols-outlined" data-type="project" title="Browse projects">
          assignment
        </button>
        <button class="toggleBtn material-symbols-outlined" data-type="province" title="Browse provinces">
          landscape
        </button>
        <button class="toggleBtn material-symbols-outlined" data-type="reset" title="Reset view">
          refresh
        </button>
        <button class="toggleBtn material-symbols-outlined" data-type="sidebar" title="Show/hide sidebar">
          dock_to_left
        </button>
      </div>

    </div>

    <div class="list-controls">
      <div class="search-bar">
        <input type="text" id="search-bar-input" />
      </div>
      <!-- <div class="filter">Filter</div> -->
    </div>

    <div id="flood-control-projects" class="panel list-panel">
      <ol id="flood-control-projects-list"></ol>
    </div>
  </div>
</section>

<section id="sidebar" class="column">
  <div id="sidebar-tabs" style="display: flex">
    <button class="tab-button active" data-type="project">Project</button>
    <button class="tab-button" data-type="province">Province</button>
    <button class="tab-button" data-type="regional">Regional</button>
  </div>
  <!-- todo, better name ig like uhh projectNcity-stats :sob-->
  <div id="project-stats" class="panel">
    {% include 'project_stats.html' %}
  </div>

  <div id="province-stats" class="panel">
    {%include 'province_stats.html' %}
  </div>

  <div id="regional-stats" class="panel">
    {% include 'regional_stats.html' %}
  </div>
</section>

{% endblock %}
