{% extends "base.html" %} {% block content %}

<section id="left-column" class="column">

  <div class="panel map-list-panel">

    <div id="map" class="map">
      <button id="toggleBtn-projects" class="toggle-btn" data-type="projects">Browse Projects</button>
      <button id="toggleBtn-cities" class="toggle-btn" data-type="cities">Browse Cities</button>
      <button id="toggleBtn-risk1" class="toggle-btn risk" data-type="risk1">1</button>
      <button id="toggleBtn-risk2" class="toggle-btn risk" data-type="risk2">2</button>
      <button id="toggleBtn-risk3" class="toggle-btn risk" data-type="risk3">3</button>
    </div>
    <div class="list-controls">
      <div class="search-bar">Search Bar</div>
      <div class="filter">Filter</div>
    </div>

    <div id="flood-control-projects" class="panel list-panel">
      <ol id="flood-control-projects-list"></ol>
    </div>
  </div>
</section>

<section id="right-column" class="column">
  <div id="project-stats" class="panel">
    {% include 'project_stats.html' %}
  </div>
  <div id="regional-stats" class="panel">
    {% include 'regional_stats.html' %}
  </div>
</section>

{% endblock %}
