<div id="project-stats-header" class="project-stats-header">
    <div id="project-id" class="project-id-risk-indicator risk-level-unknown">
        N/A
    </div>
    <div id="project-name" class="project-name">
        No Project Selected
    </div>
</div>

<div class="panel-columns-wrapper">
    <div id="project-stats-left">
        
        <div id="project-financials" class="card">
            <div class="card-title">Project Financials</div>
            <div class="dates-container">
                <div class="inner-box date-box">
                    <span class="box-label">Budget</span>
                    <span class="box-value">N/A</span>
                </div>
                <div class="inner-box date-box">
                    <span class="box-label">Funding Year</span>
                    <span class="box-value">N/A</span>
                </div>
            </div>
        </div>

        <div id="project-contractor" class="card">
            <div class="card-title">Contractor(s) <span id="contractor-count">(0)</span></div>
            <ul class="inner-box contractor-list">
                <p style="color: gray; text-align: center;">No Contractor(s) Data Available</p>
            </ul>
        </div>

    </div>
    <div id="project-stats-right">
        <div id="project-status" class="card">
            <div class="project-status-header">
                <div class="card-title">Project Status</div>
                <div class="progress-text">UNKNOWN</div>
            </div>       
            <div class="dates-container">
                <div id="start-date-box" class="inner-box date-box">
                    <span class="box-label">Start</span>
                    <span class="box-value">N/A</span>
                </div>
                <div id="end-date-box" class="inner-box date-box">
                    <span class="box-label">End</span>
                    <span class="box-value">N/A</span>
                </div>
            </div>
        </div>

        
        <div id="project-type" class="card">
            <div class="card-title">Project Type</div>
            <div class="card-value">N/A</div>
        </div>
        
        <div id="project-location" class="card">
            <div class="card-title">Location</div>
            <div class="card-value">N/A</div>
        </div>
        

    </div>
</div>