<!-- This whole thing is mutex with city_stats-->
<div id="project-stats-header" class="project-stats-header">
    <div id="project-id" class="project-id-risk-indicator risk-level-medium">
        P00526268LZ
    </div>
    <div id="project-name" class="project-name">
        Project Name
    </div>
</div>

<div class="panel-columns-wrapper">
    <div id="project-stats-left">
        
        <div id="project-status" class="card">
            <div class="project-status-header">
                <div class="card-title">Project Status</div>
                <div class="progress-text">COMPLETE</div>
            </div>

            
            <div class="dates-container">
                <div id="start-date-box" class="inner-box date-box">
                    <span class="box-label">Start</span>
                    <span class="box-value">12/23/45</span>
                </div>
                <div id="end-date-box" class="inner-box date-box">
                    <span class="box-label">End</span>
                    <span class="box-value">12/23/45</span>
                </div>
            </div>
        </div>

        <div id="project-contractor" class="card">
            <div class="card-title">Contractors <span id="contractor-count">(n)</span></div>
            <ul class="inner-box contractor-list">
                <li>Contractor 1</li>
                <li>Contractor 2</li>
                <li>Contractor 3</li>
            </ul>
        </div>

    </div>

    <div id="project-stats-right">
        
        <div id="project-type" class="card">
            <div class="card-title">Project Type</div>
            <div class="card-value">Type</div>
        </div>
        
        <div id="project-location" class="card">
            <div class="card-title">Location</div>
            <div class="card-value">City / Province / Region</div>
        </div>
        
        <div id="project-financials" class="card">
            <div class="card-title">Project Financials</div>
            <div class="inner-box financials-list">
                <div class="financial-row">
                    <span class="box-label">Budget</span>
                    <span class="box-value">1,234,567</span>
                </div>
                <div class="financial-row">
                    <span class="box-label">Funding Year</span>
                    <span class="box-value">2067</span>
                </div>
            </div>
        </div>

    </div>
</div>