<div id="province-stats-header" class="project-stats-header">
    <div id="province-name" class="project-name">
        No Province Selected
    </div>
</div>

<div class="panel-columns-wrapper">
    <div id="province-stats-left">
        <div id="province-stats-budget-n-project-count">
            <div id="province-budget" class="card">
                <div class="card-title">Budget</div>
                <div class="card-value">N/A</div>
            </div>

            <div id="province-project-count" class="card">
                <div class="card-title">Project</div>
                <div class="card-value">0</div>
            </div>
        </div>

        <div id="province-average-cost-per-project" class="card">
            <div class="card-title">Average Cost</div>
            <div class="card-value">N/A</div>
        </div>

        <div id="province-region" class="card">
            <div class="card-title">Region</div>
            <div class="card-value">N/A</div>
        </div>
    </div>
    <div id="province-stats-right">        
        <div class="card">
            <div class="rbi-matrix">
                <p style="color: gray; text-align: center;">No Matrix Data Available</p>
            </div>
        </div>
    </div>
</div>