<!-- to be refactored, maybe not -->
<div id="province-stats-header" class="project-stats-header">
    <div id="province-name" class="project-name">
        City Name
    </div>
</div>

<div class="panel-columns-wrapper">
    <div id="province-stats-left">
        <div id="province-stats-budget-n-project-count">
            <div id="province-budget" class="card">
                <div class="card-title">Budget</div>
                <div class="card-value"> - </div>
            </div>

            <div id="province-project-count" class="card">
                <div class="card-title">Project</div>
                <div class="card-value"> --- </div>
            </div>
        </div>

        <div id="province-average-cost-per-project" class="card">
            <div class="card-title">Average Cost</div>
            <div class="card-value"> --- </div>
        </div>

        <div id="province-region" class="card">
            <div class="card-title">Region</div>
            <div class="card-value"> --- </div>
        </div>
    </div>
    <div id="province-stats-right">        
        <div class="card">
            <div class="rbi-matrix">
                Put it here
            </div>
        </div>
    </div>
</div>